@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: normal;

  font-display: swap;

  src:
  url("../fonts/OpenSans_Condensed-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Gothic A1";
  font-weight: 400;
  font-style: normal;

  font-display: swap;

  src:
  url("../fonts/GothicA1-Regular.woff") format("woff");
}
@font-face {
  font-family: "Gothic A1";
  font-weight: 800;
  font-style: normal;

  font-display: swap;

  src:
  url("../fonts/GothicA1-ExtraBold.woff") format("woff");
}
body{
  font-family: "Gothic A1", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
/* @import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*/
*{
  box-sizing: border-box;
}

.form__title{
  font-family: "Open Sans";
  text-align: center;
  font-weight: 600;
  font-style:normal;
  color:#46495C;
}
.container {
  display:flex;
  flex-direction: column;
  min-height: 100dvh;
  justify-content: center;
  align-items: center;
}

body{

  background-color: #46495C;

}
.form {
  box-sizing: border-box;
  width: 100%;
  height:auto;
  margin: 50px;
  max-width: 728px;
  padding: 64px 124px 64px 124px;;
  border-radius: 18px;
  background: white; 
}
.form__input{
  background: white; 
  width: 100%;
  height: 64px;
  border-radius:8px;
  padding: 12px 20px;
  border: 1px solid #C9CCDD;
  margin: 8px 1px;
  } 
  
/*box-sizing: border-box*/
/*
Внешний отступ (margin)
Внутренний отступ (padding)
border(граница)
display: block; каждый элемент появляется друг за другом сверху вниз -  */
.form__label{
  width: 80%;
  padding: 10px;
  margin: 1px;
  
}

.form__btn{
  background-color: #FF5721;
  border: none;
  color: white;
  padding:24px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  border-radius:14px;
}
/*body {
  font-family: "Roboto", "Arial", sans-serif;
}*/